.corner-l-t {
  rotate: 0deg;
}

.corner-l-b {
  bottom: 0;
  rotate: -90deg;
}

.corner-r-b {
  right: 0px;
  bottom: 0px;
  margin-right: 40px;
  rotate: 180deg;
}

.corner-r-t {
  rotate: 90deg;
  margin-right: 40px;
  right: 0px;
}

.content-corners {
  margin-top: 40px;
  height: 85%;
}

.corner {
  position: absolute;
  scale: 70%;
}

.inside-corners-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-corners{
  height: 85%;
  width: 90%;
  overflow: scroll;
}
