@font-face {
  font-family: VT323;
  src: url(./VT323/VT323-Regular.ttf);
}

:root{
  --accent_color1: #8BB6FF;
  --accent_color1_transparent: rgba(139, 182, 255, 0.2);
  --accent_color2: #1B2330;
  --accent_color2_transparent: rgba(27, 35, 48, 0.3);
  --accent_color3: #0062F5;
  --accent_color4: #B2CEFE;
  --white: #fff;
  --black: #000;
  --red: #C0392B;
  --green: #4DB6AC;
  --yellow: #F1C40F;
  --white_transparent: rgba(255, 255, 255, 0.5);
  --font-family: VT323;
  --transition: 0.15s;
}

.header{
 color: var(--white);
 font-weight: 700;
 font-size: 65px;
 letter-spacing: 10px;
}

.header-middle{
  color: var(--white);
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 5px;
}

.bigger_text{
 color: #6F6F6F;
 font-size: 25px;
 font-family: VT323;
 font-weight: 400;
 letter-spacing: 0.30px;
}

body{
 color: var(--white);
 font-size: 25px;
 font-family: VT323;
 font-weight: 400;
 background-color: var(--black);
 background-attachment: fixed;
}

.Content-Wrapper{
  padding-top: 60px;
  padding-left: 90px;
  padding-right: 40px;
  padding-bottom: 40px;
  height: 85%;
}

.header-search-wrapper{
  margin-top: 35px;
}

.App{
  height: 100vh;
}

.header-search-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.edit-components{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.edit-btns{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}

.edit-btns div{
  margin: 0 8px;
  cursor: pointer;
}

.icon{
  user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}